@import "item/content-wrapper--blue.scss";
@import "item/content-wrapper--grey.scss";

@import "more/content-wrapper.scss";

.causes__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.causes__more {
  list-style-type: none;
  background-color: #ffffff;

  margin: 0;
  padding: 0;
}
