$font-family-main: "PT Sans", "Arial", sans-serif;

$blue: #81b3d2;
$grey: #eeeeee;

$grey-form: #f2f2f2;
$darkgrey-form: #e6e6e6;

$line-color: #d6d6d6;
$text-color: #333333;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
