.button-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 66px;

  margin: -15px 5%;
  padding: 0 5%;

  background-color: $grey;
}

.button-settings__replay {
  min-width: 16px;
  min-height: 20px;

  background-color: transparent;
  background-image: url("../img/replay.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 16px 20px;
  border: none;
}

.button-settings__subtitles {
  min-width: 32px;
  min-height: 20px;

  background-color: transparent;
  background-image: url("../img/subtitles.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 32px 20px;
  border: none;
}

.button-settings__fullscreen {
  min-width: 20px;
  min-height: 20px;

  background-color: transparent;
  background-image: url("../img/fullscreen.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 20px 20px;
  border: none;
}
