.causes__list {
  display: flex;
  flex-wrap: wrap;
}

.causes__item-container {
  position: relative;
}

.causes__content-wrapper {
  padding: 26px 33px 6px;

  @media (min-width: $tablet-width) {
    min-width: 256px;
    max-width: 400px;
    height: 256px;

    padding: 40px 32px 44px;
  }

  @media (min-width: $desktop-width) {
    padding: 47px 53px 57px;
  }
}

.causes__item--blue .causes__content-wrapper {
  padding: 52px 20px 21px 18px;

  color: #ffffff;

  background: $blue;

  @media (min-width: $tablet-width) {
    width: 256px;
    padding: 40px 30px 16px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    padding: 47px 55px 57px;
  }
}

.causes__item--blue .causes__text {
  color: #ffffff;
}

.causes__item--second .causes__content-wrapper {
  padding: 43px 36px 18px;

  @media (min-width: $desktop-width) {
    padding: 51px 78px 60px 79px;
  }
}

.causes__item--third .causes__content-wrapper {
  padding: 26px 17px 6px;

  @media (min-width: $tablet-width) {
    padding: 42px 33px 63px;
  }
}

.causes__item--full .causes__content-wrapper {
  padding-top: 52px;
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 48px 68px 16px;
  }
}

.causes__item-container--deployed {
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.causes__title {
  margin-top: 0;
  margin-bottom: 11px;

  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    width: 150px;
    margin: 0 auto 13px;

    font-size: 21px;
  }
}

.causes__text {
  margin-top: 0;
  margin-bottom: 17px;

  line-height: 21px;
  color: $text-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }
}

.causes__img-container {
  height: 260px;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 256px;
  }
}

.causes__item-container:nth-child(2n) .causes__content-wrapper {
  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.causes__img-container img {
  display: block;
  height: 100%;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.causes__item {
  @media (min-width: $tablet-width) {
    display: grid;

    grid-template-columns: auto 1fr;
  }

  &--grey {
    background: $grey;

    .causes__content-wrapper {
      padding: 26px 0 24px;

      @media (min-width: $tablet-width) {
        width: 256px;
        padding: 42px 40px;
      }

      @media (min-width: $desktop-width) {
        width: 400px;
      }
    }
  }
}

.causes__item--line .causes__content-wrapper {
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid darken($line-color, 10%);

  @media (min-width: $tablet-width) {
    width: 256px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.causes__more {
  padding-top: 22px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    padding-bottom: 51px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 52px;
  }
}

.causes__more .causes__content-wrapper {
  padding: 12px 20px 14px 70px;

  @media (min-width: $tablet-width) {
    padding: 136px 32px 14px;

    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding: 136px 66px 14px;
  }

  &--housing {
    background-image: url("../img/icon-house.svg");
    background-repeat: no-repeat;
    background-position: 21px 4px;

    @media (min-width: $tablet-width) {
      background-position: center 38px;
      background-size: 75px 72px;
    }

    @media (min-width: $desktop-width) {
      background-position: 161px 38px;
    }
  }

  &--souvenirs {
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: 25px 1px;

    @media (min-width: $tablet-width) {
      background-position: center 35px;
      background-size: 64px 75px;
    }
  }

  &--food {
    background-image: url("../img/icon-burger.svg");
    background-repeat: no-repeat;
    background-position: 18px 6px;

    @media (min-width: $tablet-width) {
      padding: 136px 40px 14px;

      background-position: center 41px;
      background-size: 76px 69px;
    }
  }
}

.causes__item-container--souvenirs {
  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.causes__more .causes__title {
  margin-bottom: 16px;

  text-align: left;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;

    text-align: center;
  }
}

.causes__more .causes__text {
  margin: 0;
  color: $text-color;
  text-align: left;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}
