.causes__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.causes__item {
  .causes__content-wrapper {
    .causes__title {
      font-size: 18px;

      margin: 0;
      padding: 0;
    }

    .causes__text {
      margin: 0;
      padding: 0;
    }

    &--blue {
      padding: 55px 0 39px;

      background: #81b3d2;
      color: #ffffff;
    }

    &--grey {
      padding: 26px 0 24px;

      background: #eeeeee;
    }
  }
}
