@import "./social.scss";

.footer {
  width: 100%;
}

.footer__hashtag {
  display: block;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;

  margin-top: 29px;

  text-decoration: none;
  color: #000000;
}

.footer__developed {
  display: flex;
  justify-content: center;

  font-size: 14px;
  line-height: 26px;
}

.footer__developed-text {
  margin: 11px 0 26px;
}

.footer__developed-logo {
  margin: 10px;
}
