@import "./social.scss";

.footer {
  .footer__hashtag {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
  }

  .footer__developed {
    font-size: 14px;
    line-height: 26px;
  }
}
