.places {
  @media (min-width: $tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.places__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 480px 347px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 267px;
  }
}

.places__item-container {
  display: block;
  padding: 22px 20px 15px;

  @media (min-width: $tablet-width) {
    display: block;
    min-width: 324px;
    min-height: 267px;
    float: left;

    padding: 0;
  }
}

.places__item-container:first-child {
  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
  }
}

.places__description {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 10px 20px;

    background-color: $grey-form;
  }
}

.places__item-container--first .places__image {
  width: 100%;
  min-height: 400px;
}

.places__title-container {
  padding: 12px 0 5px;
}

.places__title {
  font-size: 18px;

  margin: 0;
}

.places__like-count {
  min-height: 21px;
  padding: 10px 0 3px 25px;

  background-color: transparent;
  background-image: url("../img/like-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 23px 21px;
  border: none;
}

.places__image-wrapper {
  width: auto;
}

.places__image-wrapper img {
  display: block;
  width: 100%;
  min-height: 280px;

  margin: 0;

  @media (min-width: $tablet-width) {
    min-width: 324px;
    min-height: 267px;
  }
}
