.places__item-container {
  display: block;
}

.places__title {
  font-size: 18px;
}

.places__like-count {
  min-height: 21px;
  padding: 10px 0 3px 25px;

  background-color: transparent;
  background-image: url("../img/like-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 23px 21px;
  border: none;
}

.places__image-wrapper img {
  display: block;
  width: 100%;
}
