.places__list {
  list-style-type: none;

  padding: 0;
}

.places__item-container {
  display: block;
  margin-top: 22px;
}

.places__title {
  font-size: 18px;
}

.places__like-count {
  border: none;
  background-image: url(../../img/like-icon.svg);
}
