.search {
  margin: 33px 0 49px;
}

.search__title {
  font-size: 18px;
}

.search__button {
  display: block;
  font-family: inherit;
  font-size: 21px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: none;

  padding: 15px 32px 18px;
  margin: 0 auto;

  color: #ffffff;
  background-color: #81b3d2;
}
