.sedona-welcome__image-wrapper {
  padding-top: 90px;
  padding-bottom: 86px;

  background-color: #deecf5;
  background: url("../img/intro-triangle.svg"), url("../img/back-mobile.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center;
  background-size: cover;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: url("../img/intro-triangle.svg"), url("../img/back-mobile@2.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: center bottom, center;
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-top: 77px;
    padding-bottom: 91px;

    background: url("../img/intro-triangle.svg"), url("../img/back-tablet.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: center bottom, center;
    background-size: 156%, cover;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/intro-triangle.svg"), url("../img/back-tablet@2.jpg");
      background-position: center bottom, center;
      background-size: 156%, cover;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 92px;

    background: url("../img/intro-triangle.svg"), url("../img/back-desktop.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: center bottom, center;
    background-size: 100%, cover;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/intro-triangle.svg"), url("../img/back-desktop@2.jpg");
      background-position: center bottom, center;
      background-size: 100%, cover;
    }
  }
}

.sedona-welcome__image {
  display: block;
  width: 282px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 461px;
  }
}

.sedona-welcome--page .sedona-welcome__image-wrapper {
  padding: 52px 45px 67px;

  background: url("../img/intro-triangle.svg"), url("../img/back-desktop-page.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom;
  background-size: cover;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: url("../img/intro-triangle.svg"), url("../img/back-mobile@2.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: center bottom, center;
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    padding: 94px 156px 117px;

    background: url("../img/intro-triangle.svg"), url("../img/back-tablet.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom;
    background-size: 156%, cover;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/intro-triangle.svg"), url("../img/back-tablet@2.jpg");
      background-position: bottom;
      background-size: 156%, cover;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 102px 180px 120px;

    background: url("../img/intro-triangle.svg"), url("../img/back-desktop.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom;
    background-size: 100%, cover;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/intro-triangle.svg"), url("../img/back-desktop@2.jpg");
      background-position: bottom;
      background-size: 100%, cover;
    }
  }
}

.sedona-welcome--page .sedona-welcome__content {
  padding: 14px 21px 25px;

  border-bottom: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    padding: 47px 48px 75px;

    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 82px 48px 78px;
  }

  &::after {
    display: none;
  }
}

.sedona-welcome--form .sedona-welcome__content {
  padding-top: 19px;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 84px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 95px;
    padding-bottom: 40px;
  }
}

.sedona-welcome__content {
  min-width: 285px;
  min-height: 162px;
  position: relative;

  padding: 14px 30px 20px;

  @media (min-width: $tablet-width) {
    width: 540px;
    margin: 0 auto;
    padding: 27px 0 41px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 37px;
    padding-bottom: 29px;
  }
}

.sedona-welcome__content::after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 37px;

  background-image: url("../img/welcome-triangle.svg");
  background-repeat: no-repeat;
  background-position: bottom center;

  @media (min-width: $tablet-width) {
    content: none;
  }
}

.sedona-welcome__title {
  margin-top: 18px;
  margin-bottom: 28px;

  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  mix-blend-mode: normal;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 32px;
  }
}

.sedona-welcome--page .sedona-welcome__title {
  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 26px;
  }
}

.sedona-welcome__text {
  margin-top: 0;
  margin-bottom: 0;
  color: $text-color;
}

.sedona-welcome--form .sedona-welcome__text {
  line-height: 24px;
}
