.sedona-welcome__image-wrapper {
  padding-top: 90px;

  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: $tablet-width) {
    width: 100%;
    min-height: 518px;

    background-image: url("../img/back-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.sedona-welcome__vectors {
  min-height: 428px;

  background-image: url(../img/intro-triangle.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
}

.sedona-welcome__image-wrapper--page {
  padding: 52px 45px 67px;

  @media (min-width: $tablet-width) {
    min-height: 290px;
    padding: 95px 154px 117px;
  }
}

.sedona-welcome__image {
  margin: 0 auto;
  margin-top: 90px;
}

.sedona-welcome__content {
  position: relative;
  padding: 32px 25px 11px;

  @media (min-width: $tablet-width) {
    width: 540px;
    min-height: 110px;
    margin: 0 auto;
    padding-top: 23px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 35px;
    padding-bottom: 28px;
  }
}

.sedona-welcome__content::after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 0;

  width: 100%;
  height: 37px;
  background-image: url("../img/welcome-triangle.svg");
  background-repeat: no-repeat;
  background-position: bottom center;

  @media (min-width: $tablet-width) {
    content: none;
  }
}

.sedona-welcome__title {
  font-size: 18px;
}
