.sedona-welcome__image-wrapper {
  padding: 90px 0 77px;

  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: $tablet-width) {
    width: 100%;
    min-height: 518px;

    background-image: url("../img/back-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.sedona-welcome__image {
  margin: 0 auto;
}

.sedona-welcome__content {
  margin: 32px 17px 11px;

  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    width: 520px;
    min-height: 110px;

    margin: 36px 124px 53px;
  }

  @media (min-width: $desktop-width) {
    margin: 37px 358px 41px;
  }
}

.sedona-welcome__title {
  font-size: 18px;
}
