.social {
  display: flex;
  justify-content: center;
  list-style-type: none;

  margin: 0;
  padding: 0;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;

  margin: 34px 3px;

  background-color: #81b3d2;
}

.social__icon {
  &--twitter {
    padding-top: 16px;
  }

  &--facebook {
    padding-top: 13px;
  }

  &--youtube {
    padding-top: 17px;
  }
}
