.social {
  display: flex;
  justify-content: center;
  padding: 31px 0;

  @media (min-width: $tablet-width) {
    padding: 0 9px 0 0;
  }
}

.social__item {
  margin: 0 3px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;

  background-color: $blue;
}

.social__link:hover {
  background-color: #669ec0;
}

.social__link:active {
  background-color: #5496bd;
  color: fade(#ffffff, 30%);
}
