.causes__content-wrapper--blue {
  background: #81b3d2;
  color: #ffffff;

  margin: 0;

  .causes__title {
    font-size: 18px;

    margin: 0;
    padding: 0;
  }

  .causes__text {
    margin: 0;
    padding: 0;
  }
}
